.background_body {
    padding: 1.25rem;
    background: var(--green-bg-gradient);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper_part {
    width: 100%;
    background: var(--green-gradient);
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    color: var(--text-light);
}

.text_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower_part {
    width: 100%;
    background: var(--light-bg);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
    box-shadow: var(--shadow);
}

.item_container {
    width: 95%;
    height: 70vh;
    /* background: var(--text-light); */
    /* border-radius: 1rem; */
    /* box-shadow: var(--shadow); */
    /* overflow: scroll; */
    overflow: hidden;
}

.table_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar Thumb (the draggable part) */
.table_container::-webkit-scrollbar-thumb {
    background: var(--green-gradient);
    /* or any color you like */
    border-radius: 10px;
}

/* Scrollbar Track background (optional) */
.table_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* light grey background */
    border-radius: 10px;
}

/* Scrollbar Corner (where vertical and horizontal scrollbar meet) */
.table_container::-webkit-scrollbar-corner {
    background: transparent;
}

.container {
    padding: 2rem;
}

.table_container {
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.form input,
.form select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.button {
    background: var(--green-gradient);
    color: var(--text-light);
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

table {
    width: 100%;
    min-width: 850px;
    border-collapse: collapse;
    border: 1px solid #ad1414;
}

th {
    background: var(--green-dark);
    color: var(--text-light);
    padding: 1rem;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 10;
}

th,
td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #d6d6d6;
}

tr:nth-child(even) {
    background-color: #b7ceaa;
}

/* Form Styling */
.card {
    padding: 1rem;
}